html {
    background: #000;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Roboto', Arial, Helvetica, sans-serif!important;
    font-weight: 400;
    user-select: none;
    --sharpRed: #e20d1c;
    --sharpYellow: #ff930f;
    --sharpOrange: #ff5314;
    --sharpGreen: #abd600;
    --sharpCyan: #07cfbc;
    --sharpPink: #f00058;
    --dullRed: #21000a;
    --dullYellow: #382000;
    --dullOrange: #380f00;
    --dullGreen: #262e00;
    --dullCyan: #002521;
    --dullPink: #330011;
    font-size: 2vmin;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#adBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(30px) saturate(200%);
    background: #000a;
    color: white;
    padding: 50px;
    font-size: 1.5rem;
    overflow: auto;
    z-index: 9999;
    transform: translateZ(0px);
    transition: opacity 200ms linear, transform 300ms linear;
}

::-webkit-scrollbar {
    width: 10px;
    background: #110;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--sharpYellow), var(--sharpYellow) 50%, var(--sharpOrange));
    box-shadow: inset 3px -2px 5px #0004;
}

#adBox button {
    color: var(--sharpYellow);
    border: 1px solid;
    background: none;
    border-radius: 3px;
    padding: 0.5rem 0.9rem;
    outline: none;
    font-weight: bold;
    font-size: 1.2rem;
    width: 30%;
    height: 3rem;
    margin: 3px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#adBox button::after {
    content: attr(aria-label);
    font-family: "Roboto", "Segoe UI", Arial, Helvetica, sans-serif;
}

.ms-Icon::before {
    margin: 0 3px 0px 0;
}

#adSkip:hover,
#adBox a:hover,
#shareButton:hover,
#installButton:hover {
    background: var(--sharpYellow);
    color: #000 !important;
    cursor: pointer;
}

main {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 7px;
    transition: transform 200ms linear;
}

main > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 7px;
}

.tile {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    place-items: center;
    color: #0e0e0e;
    box-sizing: border-box;
    cursor: pointer;
}

.icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2mm' height='2mm' version='1.1' viewBox='0 0 2.6458 2.6458'%3E%3Cg transform='translate(-39.832 -49.457)'%3E%3Cpath d='m40.995 49.457a1.3325 1.3325 0 0 0-1.1628 1.1628l0.31029 0.018a1.0225 1.0225 0 0 1 0.87056-0.87056zm0.32019 0-0.018 0.31029a1.0225 1.0225 0 0 1 0.87056 0.87056l0.31029-0.018a1.3325 1.3325 0 0 0-1.1628-1.1628zm-1.1727 1.4649-0.31029 0.018a1.3325 1.3325 0 0 0 1.1628 1.1628l0.018-0.31029a1.0225 1.0225 0 0 1-0.87056-0.87056zm2.0252 0a1.0225 1.0225 0 0 1-0.87056 0.87056l0.018 0.31029a1.3325 1.3325 0 0 0 1.1628-1.1628z'/%3E%3C/g%3E%3C/svg%3E") center/cover;
            mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2mm' height='2mm' version='1.1' viewBox='0 0 2.6458 2.6458'%3E%3Cg transform='translate(-39.832 -49.457)'%3E%3Cpath d='m40.995 49.457a1.3325 1.3325 0 0 0-1.1628 1.1628l0.31029 0.018a1.0225 1.0225 0 0 1 0.87056-0.87056zm0.32019 0-0.018 0.31029a1.0225 1.0225 0 0 1 0.87056 0.87056l0.31029-0.018a1.3325 1.3325 0 0 0-1.1628-1.1628zm-1.1727 1.4649-0.31029 0.018a1.3325 1.3325 0 0 0 1.1628 1.1628l0.018-0.31029a1.0225 1.0225 0 0 1-0.87056-0.87056zm2.0252 0a1.0225 1.0225 0 0 1-0.87056 0.87056l0.018 0.31029a1.3325 1.3325 0 0 0 1.1628-1.1628z'/%3E%3C/g%3E%3C/svg%3E") center/cover;
            
    width: 2.5rem;
    height: 2.5rem;
    border-width: 5.5px;
    border-radius: 50%;
    border-style: double;
}

.title {
    font-size: 1.5rem;
    background: none !important;
    border: none !important;
    align-self: flex-start;
    font-family: monospace;
}

.red {
    background-color: var(--dullRed);
}

.yellow {
    background-color: var(--dullYellow);
}

.orange {
    background-color: var(--dullOrange);
}

.green {
    background-color: var(--dullGreen);
}

.cyan {
    background-color: var(--dullCyan);
}

.pink {
    background-color: var(--dullPink);
}

.red>.icon,
.red>.title {
    border-color: var(--sharpRed);
    color: var(--sharpRed);
}

.yellow>.icon,
.yellow>.title {
    border-color: var(--sharpYellow);
    color: var(--sharpYellow);
}

.orange>.icon,
.orange>.title {
    border-color: var(--sharpOrange);
    color: var(--sharpOrange);
    height: 1px;
    border-style: solid;
    border-radius: 10px;
    -webkit-mask: none;
    mask: none;
    border-width: 1px;
    background: linear-gradient(to right, var(--sharpOrange), var(--sharpOrange) 50%, #0000 50%, #0000);
}

.green>.icon,
.green>.title {
    border-color: var(--sharpGreen);
    color: var(--sharpGreen);
}

.cyan>.icon,
.cyan>.title {
    border-color: var(--sharpCyan);
    color: var(--sharpCyan);
}

.pink>.icon,
.pink>.title {
    border-color: var(--sharpPink);
    color: var(--sharpPink);
}

.red.active {
    background-color: var(--sharpRed);
    box-shadow: 0 0 10px 0 var(--sharpRed);
}

.red.active>.icon,
.red.active>.title {
    color: var(--dullRed);
    border-color: var(--dullRed);
}

.yellow.active {
    background-color: var(--sharpYellow);
    box-shadow: 0 0 10px 0 var(--sharpYellow);
}

.yellow.active>.icon,
.yellow.active>.title {
    color: var(--dullYellow);
    border-color: var(--dullYellow);
}

.orange.active {
    background-color: var(--sharpOrange);
    box-shadow: 0 0 10px 0 var(--sharpOrange);
}

.orange.active>.icon,
.orange.active>.title {
    color: var(--dullOrange);
    border-color: var(--dullOrange);
}

.green.active {
    background-color: var(--sharpGreen);
    box-shadow: 0 0 10px 0 var(--sharpGreen);
}

.green.active>.icon,
.green.active>.title {
    color: var(--dullGreen);
    border-color: var(--dullGreen);
}

.cyan.active {
    background-color: var(--sharpCyan);
    box-shadow: 0 0 10px 0 var(--sharpCyan);
}

.cyan.active>.icon,
.cyan.active>.title {
    color: var(--dullCyan);
    border-color: var(--dullCyan);
}

.pink.active {
    background-color: var(--sharpPink);
    box-shadow: 0 0 5px 0 var(--sharpPink);
}

.pink.active>.icon,
.pink.active>.title {
    color: var(--dullPink);
    border-color: var(--dullPink);
}

@media (any-pointer: fine) {
    .red:hover {
        box-shadow: 0 0 0 2px var(--sharpRed);
    }

    .yellow:hover {
        box-shadow: 0 0 0 2px var(--sharpYellow);
    }

    .orange:hover {
        box-shadow: 0 0 0 2px var(--sharpOrange);
    }

    .green:hover {
        box-shadow: 0 0 0 2px var(--sharpGreen);
    }

    .cyan:hover {
        box-shadow: 0 0 0 2px var(--sharpCyan);
    }

    .pink:hover {
        box-shadow: 0 0 0 2px var(--sharpPink);
    }
    
    #adBox button {
        height: unset;
        margin: unset
    }
}
/*.red {
    background: linear-gradient(to right, transparent, #fffa 50%, transparent 52%), #cc303b;
}*/

@media (max-width: 475px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}