html {
    background: #0e0e0e;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 400;
}

.tile {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: #0e0e0e;
    font-size: larger;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

#main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    border-width: 3px;
    border-radius: 50%;
    border-style: dashed;
}
:root {
    --sharpRed: #cc303b;
    --sharpYellow: #fd9210;
    --sharpOrange: #f25820;
    --sharpGreen: #a1c313;
    --sharpCyan: #0da192;
    --sharpPink: #d41c60;
    --dullRed : #28010c;
    --dullYellow : #331e03;
    --dullOrange : #301207;
    --dullGreen : #222804;
    --dullCyan : #02201e;
    --dullPink : #2b0713;
}

.red > .icon, .red > .title {
    border-color: var(--sharpRed);
    color: var(--sharpRed);
}
.yellow > .icon, .yellow > .title {
    border-color: var(--sharpYellow);
    color: var(--sharpYellow);
}
.orange > .icon, .orange > .title {
    border-color: var(--sharpOrange);
    color: var(--sharpOrange);
}
.green > .icon, .green > .title {
    border-color: var(--sharpGreen);
    color: var(--sharpGreen);
}
.cyan > .icon, .cyan > .title {
    border-color: var(--sharpCyan);
    color: var(--sharpCyan);
}
.pink > .icon, .pink > .title {
    border-color: var(--sharpPink);
    color: var(--sharpPink);
}


.red {
    background-color: var(--dullRed);
}

.yellow {
    background-color: var(--dullYellow);
}

.orange {
    background-color: var(--dullOrange);
}

.green {
    background-color: var(--dullGreen);
}

.cyan {
    background-color: var(--dullCyan);
}

.pink {
    background-color: var(--dullPink);
}

.red.active {
    background-color: var(--sharpRed);
    box-shadow: 0 0 5px 0 var(--sharpRed);
}

.yellow.active {
    background-color: var(--sharpYellow);
    box-shadow: 0 0 5px 0 var(--sharpYellow);
}

.orange.active {
    background-color: var(--sharpOrange);
    box-shadow: 0 0 5px 0 var(--sharpOrange);
}

.green.active {
    background-color: var(--sharpGreen);
    box-shadow: 0 0 5px 0 var(--sharpGreen);
}

.cyan.active {
    background-color: var(--sharpCyan);
    box-shadow: 0 0 5px 0 var(--sharpCyan);
}

.pink.active {
    background-color: var(--sharpPink);
    box-shadow: 0 0 5px 0 var(--sharpPink);
}

.red:hover {
    /*box-shadow: 0 0 5px 0 var(--sharpRed);*/
    border: 2px solid var(--sharpRed)
}

.yellow:hover {
    /*box-shadow: 0 0 5px 0 var(--sharpYellow);*/
    border: 2px solid var(--sharpYellow)
}

.orange:hover {
    /*box-shadow: 0 0 5px 0 var(--sharpOrange);*/
    border: 2px solid var(--sharpOrange)
}

.green:hover {
    /*box-shadow: 0 0 5px 0 var(--sharpGreen);*/
    border: 2px solid var(--sharpGreen)
}

.cyan:hover {
    /*box-shadow: 0 0 5px 0 var(--sharpCyan);*/
    border: 2px solid var(--sharpCyan)
}

.pink:hover {
    /*box-shadow: 0 0 5px 0 var(--sharpPink);*/
    border: 2px solid var(--sharpPink)
}
/*.red {
    background: linear-gradient(to right, transparent, #fffa 50%, transparent 52%), #cc303b;
}*/
.active > .icon, .active > .title {
    border-color: #0e0e0e;
    color: #0e0e0e;
}