@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@400;900&display=swap');

html {
    background: #0e0e0e;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    user-select: none;
    --sharpRed: #cc303b;
    --sharpYellow: #fd9210;
    --sharpOrange: #f25820;
    --sharpGreen: #a1c313;
    --sharpCyan: #0da192;
    --sharpPink: #d41c60;
    --dullRed: #28010c;
    --dullYellow: #331e03;
    --dullOrange: #301207;
    --dullGreen: #222804;
    --dullCyan: #02201e;
    --dullPink: #2b0713;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

#adOverlay {
    background: #000a;
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#adBox {
    border-radius: 20px;
    border: 1px solid var(--sharpYellow);
    background: #000;
    color: white;
    text-align: center;
    padding: 50px;
}

#adSkip, #shareButton, #installButton {
    color: var(--sharpYellow);
    border: 2px solid;
    background: none;
    border-radius: 50px;
    padding: 5px 10px;
    outline: none;
}

#adSkip:hover, #adBox a:hover, #shareButton:hover, #installButton:hover {
    background: var(--sharpYellow);
    color: #000!important;
    cursor: pointer;
}

#main {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.tile {
    width: 100%;
    height: 100%;
    border-radius: 3vmin;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: #0e0e0e;
    font-size: 130%;
    box-sizing: border-box;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    border-width: 3.5px;
    border-radius: 50%;
    border-style: dashed;
}

.title {
    background: none !important;
    border: none !important;
}

.red {
    background-color: var(--dullRed);
}

.yellow {
    background-color: var(--dullYellow);
}

.orange {
    background-color: var(--dullOrange);
}

.green {
    background-color: var(--dullGreen);
}

.cyan {
    background-color: var(--dullCyan);
}

.pink {
    background-color: var(--dullPink);
}

.red>.icon,
.red>.title {
    border-color: var(--sharpRed);
    color: var(--sharpRed);
}

.yellow>.icon,
.yellow>.title {
    border-style: dotted;
    color: var(--sharpYellow);
}

.orange>.icon,
.orange>.title {
    border-style: ridge;
    border-color: var(--sharpOrange);
    color: var(--sharpOrange);
}

.green>.icon,
.green>.title {
    background: repeating-radial-gradient(var(--sharpGreen), transparent 10%);
    border: none;
    color: var(--sharpGreen);
}

.cyan>.icon,
.cyan>.title {
    border: none;
    color: var(--sharpCyan);
    background: repeating-linear-gradient(45deg, var(--sharpCyan) 0%, var(--sharpCyan) 10%, transparent 10%, transparent 20%);
}

.pink>.icon,
.pink>.title {
    border-style: double;
    border-color: var(--sharpPink);
    color: var(--sharpPink);
}

.red.active {
    background-color: var(--sharpRed);
    box-shadow: 0 0 5px 0 var(--sharpRed);
}

.yellow.active {
    background-color: var(--sharpYellow);
    box-shadow: 0 0 5px 0 var(--sharpYellow);
}

.orange.active {
    background-color: var(--sharpOrange);
    box-shadow: 0 0 5px 0 var(--sharpOrange);
}

.green.active {
    background-color: var(--sharpGreen);
    box-shadow: 0 0 5px 0 var(--sharpGreen);
}

.cyan.active {
    background-color: var(--sharpCyan);
    box-shadow: 0 0 5px 0 var(--sharpCyan);
}

.cyan.active>.icon,
.green.active>.icon {
    background-color: #0e0e0e;
}

.pink.active {
    background-color: var(--sharpPink);
    box-shadow: 0 0 5px 0 var(--sharpPink);
}

.red:hover {
    box-shadow: 0 0 0 2px var(--sharpRed);
}

.yellow:hover {
    box-shadow: 0 0 0 2px var(--sharpYellow);
}

.orange:hover {
    box-shadow: 0 0 0 2px var(--sharpOrange);
}

.green:hover {
    box-shadow: 0 0 0 2px var(--sharpGreen);
}

.cyan:hover {
    box-shadow: 0 0 0 2px var(--sharpCyan);
}

.pink:hover {
    box-shadow: 0 0 0 2px var(--sharpPink);
}

/*.red {
    background: linear-gradient(to right, transparent, #fffa 50%, transparent 52%), #cc303b;
}*/
.active>.icon,
.active>.title {
    border-color: #0e0e0e;
    color: #0e0e0e;
}